body{
    background-image: url(assets/backgroundimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    font-family: 'Mukta', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
}

header {
    font-family: 'Rampart One', cursive;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    font-size: 1em;
}

header h1 img {
    max-width: 50px;
}

header h1 {
    margin: 10px;
}

header nav {
    display: flex;
    align-items: center;
    font-weight: 750;
}

header nav ul {
    flex-direction: row;
    display: flex;
}

header nav ul li {
    margin-left: 15px;
    list-style: none;
}

header nav a {
    margin-left: 15px;
}

main{
    display: flex;
    justify-content: center;
}

#nav_login {
    margin-left: 50px
}

header nav button {
    height: max-content;
    margin-left: 15px;
    margin-right: 20px;
    border-radius: 12px;
    border: 1px solid black;
    background-color: darkseagreen;
    font-family: 'Rampart One', cursive;
    font-weight: 750;
    padding: 5px 5px;
}

a {
    font-size: .75em;
    text-decoration: none;
    color: black;
}

.MainBox{
    position:absolute;
    background-color: rgb(79, 83, 80);
    box-shadow:5px 5px 4px 5px #888888;
    height: 500px;
    width: 300px;
    top: 50%;
    transform: translateY(-50%);
}
.H1TextCenter{
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.MainFormSignup{
    display: flex;
    flex-direction: column;
    margin: 0 25% 25% 25%;
}

.MainButtonSignup{
    margin: 0 25%;
    background-color: black;
    color: white; 
    cursor: pointer;
}
.MainInputMargin{
    margin-bottom: 20px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}