body{
    background-image: url(assests/backgroundimg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
}

html, body {
    margin: 0;
    height: 100%;
}

main{
    display: flex;
    justify-content: center;
}

.MainBox{
    position:absolute;
    background-color: rgb(79, 83, 80);
    box-shadow:5px 5px 4px 5px #888888;
    height: 500px;
    width: 300px;
    top: 50%;
    transform: translateY(-50%);
}
.H1TextCenter{
    text-align: center;
}

.MainFormSignup{
    display: flex;
    flex-direction: column;
    margin: 0 25% 25% 25%;
}

.MainButtonSignup{
    margin: 0 25%;
    background-color: black;
    color: white; 
    cursor: pointer;
}
.MainInputMargin{
    margin-bottom: 20px;
}

a:link{
    text-decoration: none;
    color: white;
}

a:visited{
    text-decoration: none;
    color: white;
}